{% load static %}

<!DOCTYPE html>

<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" >
</head>
<body>
  <nav>
    <ul>
      {% if user.is_authenticated %}
  <li><a href="{% url 'account_logout' %}">Logout</a></li>
{% else %}
  <li><a href="{% url 'account_login' %}">Login</a></li>
  <li><a href="{% url 'account_signup' %}">Signup</a></li>
{% endif %}
    </ul>
    <ul>
        <li><a href="{% url 'home' %}">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        <li><a href="{% url 'contact' %}">Contact</a></li>
        <li><a href="{% url 'create_location' %}">Create Location</a></li>
        <li><a href="{% url 'create_trip' %}">Create Trip</a></li>
        <li><a href="{% url 'location_list' %}">Location List</a></li>
        <li><a href="{% url 'trip_list' %}">Trip List</a></li>
        <li><a href="{% url 'search_location' %}">Search for a location!</a></li>
        <li><a href="{% url 'pricing_page_view' %}">Subscribe via Stripe!</a></li>
      
    </ul>
  </nav>

  <p> Spacing </p>
  <div class="container">
    {% block content %}
    
    {% endblock %}
  </div>
  
</body>
</html>

