{% load static %}

<!DOCTYPE html>

<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" >
    <script src="https://unpkg.com/htmx.org@1.8.0/dist/htmx.min.js"></script>
    {% block extra_head %}{% endblock %}
</head>
<body>
  <!-- Header Section -->
  <header id="header" class="header-container">
    <nav id="nav" class="nav-container">
      <ul id="nav-list" class="nav-list">
        {% if user.is_authenticated %}
          <li class="nav-item"><a href="{% url 'account_logout' %}" class="nav-link">Logout</a></li>
        {% else %}
          <li class="nav-item"><a href="{% url 'account_login' %}" class="nav-link">Login</a></li>
          <li class="nav-item"><a href="{% url 'account_signup' %}" class="nav-link">Signup</a></li>
        {% endif %}
      </ul>
    </nav>
    <nav id="nav-secondary" class="nav-secondary-container">
      <ul id="nav-list-secondary" class="nav-list-secondary">
        <li class="nav-item"><a href="{% url 'home' %}" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="{% url 'about' %}" class="nav-link">About</a></li>
        <li class="nav-item"><a href="{% url 'contact' %}" class="nav-link">Contact</a></li>
        <li class="nav-item"><a href="{% url 'update_profile' %}" class="nav-link">Update Profile!</a></li>
        <li class="nav-item"><a href="{% url 'create_location' %}" class="nav-link">Create Location</a></li>
        <li class="nav-item"><a href="{% url 'create_trip' %}" class="nav-link">Create Trip</a></li>
        <li class="nav-item"><a href="{% url 'location_list' %}" class="nav-link">Location List - All Users</a></li>
        <!-- add view of location - user specific only; to add htmx so user can edit trip name-->

        <li class="nav-item"><a href="{% url 'location_user_list' %}" class="nav-link">My Location List</a></li>
        <li class="nav-item"><a href="{% url 'trip_list' %}" class="nav-link">Trip List</a></li>
        <li class="nav-item"><a href="{% url 'plot_locations' %}" class="nav-link">All Locations!! (Pinned)</a></li>
        <li class="nav-item"><a href="{% url 'plot_heatmap' %}" class="nav-link">All Locations!! (Heatmap)</a></li>
        <li class="nav-item"><a href="{% url 'search_location_initial' %}" class="nav-link">Search for a location! (old)</a></li>
        <li class="nav-item"><a href="{% url 'search_location' %}" class="nav-link">Search for a location! (new view)</a></li>
        <li class="nav-item"><a href="{% url 'pricing_page_view' %}" class="nav-link">Subscribe via Stripe!</a></li>
      </ul>
    </nav>
  </header>

  <!-- Block Content Section -->
  <section id="block-content" class="block-content-container">
    <div class="block-content-wrapper">
      <div class="container">
        {% block content %}

        {% endblock %}
      </div>
    </div>
  </section>

</body>
</html>
