

body {
    background: #efefef;
    font-family: 'Helvetica Neue', Helvetica, sans-serif;
    padding: 20px;
}

h1 {
    padding-bottom: 30px;
}

a {
    text-decoration: none;
    color: #72BA8F;
}

#header {
    width: 100%;
    overflow: auto;
}

#header ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#header ul li {
    list-style: none;
    float: left;
    border-radius: 4px;
    background: #fff;
    padding: 6px 10px;
    margin: 0 20px 0 0;

}
