{% extends 'base.html' %}



{% block title %}Search for a location!{% endblock %}

{% block content %}

<h1>See our pricing table here:</h1>




<div></div>
<p></p>
<!-- meta ai seemed to think i could leave both keys here, need to confirm if one is private as that seems to be the case -->
<script async src="https://js.stripe.com/v3/pricing-table.js"></script>
<stripe-pricing-table pricing-table-id="prctbl_1PgJ0SDo55EZjszoXnRnun9Y"
publishable-key="pk_live_51MweMSDo55EZjszoi4n9nyRuIHqNDWPf4tTfy31s9mGszJ0LAF3bSLh19BjzNMNOi4PbxTdovsWX85olJnlEz91H00R8DnTtR7">
</stripe-pricing-table>

<h4>If you aren't ready to subscribe, join our waitlist and get informed about feature releases: </h4> 

<div style="text-align: center; width: 100%;">
    <iframe src="https://docs.google.com/forms/d/e/1FAIpQLSdFGYY5Y_yU64qJ6Qwe5nWQWxFToY1DBVNbTj1uP_1hfFFAVA/viewform?embedded=true" width="1000" height="1206" frameborder="0" marginheight="0" marginwidth="0">Loading…</iframe>
</div>

{% endblock %}