{% csrf_token %}
<form hx-post="{% url 'edit_location_user' location_user.id %}" 
      hx-target="#form-container" 
      hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' 
      hx-swap="innerHTML">
    <input type="text" name="name" value="{{ location_user.name }}">
    <input type="text" name="country" value="{{ location_user.country }}">
    <input type="text" name="location" value="{{ location_user.location.place_name }}">
    <input type="text" name="trip" value="{{ location_user.trip.name }}">
    <input type="text" name="been_to_before" value="{{ location_user.been_to_before }}">
    <button type="submit">Save</button>
    <button hx-get="{% url 'location_user_list' %}">Cancel</button>
</form>