{%  extends "base.html" %}

{% load static %}



{% block title %}Locations {% endblock %}

{% block content %}

    <h2>Locations</h2>

    <table class="locations-table">
        <thead>
            <tr>
                <th>Location</th>
                <th>Place Name</th>
                <th>Country</th>
                <th>City</th>
            </tr>
        </thead>
        <tbody>
            {% for location in locations %}
                <tr>
                    <td>
                        <a href="{% url 'location_list' %}">
                            {{ location }}
                        </a>
                    </td>
                    <td>{{ location.place_name }}</td>
                    <td>{{ location.country }}</td>
                    <td>{{ location.city }}</td>
                </tr>
            {% empty %}
                <tr>
                    <td colspan="4">No locations are available.</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}