{%  extends "base.html" %}

{% load static %}

<head><link rel="stylesheet" href="{% static 'base.css' %}" ></head>

{% block title %}Locations {% endblock %}

{% block content %}

    <h2>Locations</h2>
    
    {% for location in locations %}
        <div class="location">
            <a href="{% url 'location_list' %}">
                {{ location }}
            </a>
            {{ location.place_name }}
            <br>
            {{ location.latitude }}
            <br>
            {{ location.longitude }}
        </div>
    {% empty %}
      <p>No locations are available.</p>
    {% endfor %}


   
{% endblock %}
