{% extends "base.html" %}

{% load static %}

{% block title %}Location Traveler (User) {% endblock %}
<!-- based on location user table, only show those locations saved by a user-->

{% block content %}

<h1>My Locations List</h1>

{% csrf_token %}
<table id="location-user-table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Country</th>
            <th>Location</th>
            <th>Trip</th>
            <th>Been to Before</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        {% for location_user in location_users %}
        <tr id="locationuser-{{ location_user.id }}">
            <td>{{ location_user.name }}</td>
            <td>{{ location_user.country }}</td>
            <td>{{ location_user.location.place_name }}</td>
            <td>{{ location_user.trip.name }}</td>
            <td>{{ location_user.been_to_before }}</td>
            <td>
                <button hx-get="{% url 'edit_location_user' location_user.id %}" hx-target="#locationuser-{{ location_user.id }}">Edit</button>
                <button hx-delete="{% url 'delete_location_user' location_user.id %}" hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' hx-trigger="refresh#location-user-table" hx-swap="outerHTML" hx-confirm="Are you sure you want to delete this location user?">Delete</button>
            </td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="6">No data available</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}
