{%  extends "base.html" %}

{% load static %}

<head><link rel="stylesheet" href="{% static 'base.css' %}" ></head>

{% block title %}Locations {% endblock %}

{% block content %}

<div id="map" style="width: 500px; height: 300px;"></div>
<script>
    function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
            center: {lat: {{ latitude }}, lng: {{ longitude }}},
            zoom: 13
        });
        var marker = new google.maps.Marker({
            position: {lat: {{ latitude }}, lng: {{ longitude }}},
            map: map
        });
    }
</script>
<script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap"></script>

<p>Location Details:</p>
<p>Latitude: {{ latitude }}</p>
<p>Longitude: {{ longitude }}</p>
<p>City: {{ city }}</p>
<p>Country: {{ country }}</p>
<p>Place Name: {{ place_name }}</p>
<p>Place ID: {{ place_id }}</p>


<form method="post" action="{% url 'save_location' %}">
    {% csrf_token %}
    <input type="hidden" name="latitude" value="{{ latitude }}">
    <input type="hidden" name="longitude" value="{{ longitude }}">
    <input type="hidden" name="city" value="{{ city }}">
    <input type="hidden" name="country" value="{{ country }}">
    <input type="hidden" name="place_name" value="{{ place_name }}">
    <input type="hidden" name="place_id" value="{{ place_id }}">
    <button type="submit">Save Location</button>
</form>


{% endblock %}