{% extends 'base.html' %}

{% block title %}Search for a location!{% endblock %}

{% block content %}

<h1>template to be deprecated after moving to htmx micro views/templates</h1>

<form method="post" hx-post="{% url 'search_location_initial' %}" hx-target="#search-result" hx-swap="outerHTML">
    {% csrf_token %}
    <input type="text" name="location" placeholder="Search location">
    <button type="submit">Search</button>
</form>
<div id="search-result">
    {% if error %}
    <p style="color: red;">Error: {{ error }}</p>
    {% elif latitude %}
    <p>Latitude: {{ latitude }}</p>
    <p>Longitude: {{ longitude }}</p>
    <p>City: {{ city }}</p>
    <p>Country: {{ country }}</p>
    <p>Place Name: {{ place_name }}</p>
    <p>Place ID: {{ place_id }}</p>
    <div id="map" style="width: 500px; height: 300px;"></div>
    <script>
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map'), {
                center: {lat: {{ latitude }}, lng: {{ longitude }}},
                zoom: 10
            });
            var marker = new google.maps.Marker({
                position: {lat: {{ latitude }}, lng: {{ longitude }}},
                map: map
            });
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key={{ api_key }}&callback=initMap"></script>
    {% else %}
    <p>Search for a location above!</p>
    {% endif %}
</div>



{% endblock %}