{% extends 'base.html' %}



{% block title %}Search for a location!{% endblock %}

{% block content %}

<h1>See our pricing table here:</h1>

<h4>If you aren't ready to subscribe, join our waitlist and get informed about feature releases.</h4>

<script async src="https://js.stripe.com/v3/pricing-table.js"></script>
<stripe-pricing-table pricing-table-id="prctbl_1PgJ0SDo55EZjszoXnRnun9Y"
publishable-key="pk_live_51MweMSDo55EZjszoi4n9nyRuIHqNDWPf4tTfy31s9mGszJ0LAF3bSLh19BjzNMNOi4PbxTdovsWX85olJnlEz91H00R8DnTtR7">
</stripe-pricing-table>

<div>testing</div>

{% endblock %}